<div class="project-inner">
    <div class="project-images">
        <p *ngIf="showImageDeleteTip" id="delete-img-tip">Click Over Image To Delete</p>
        <app-image-slider (imageClickedEvent)="imageClicked($event)" (mouseHoverEvent)="mouseHoverEvent($event)" [images]="project.images"></app-image-slider>
    </div>
    <div class="project-content">
        <app-dynamic-form *ngIf="showForm" [fields]="project.projectAttributes" 
            [isLoggedinUserId]="isLoggedinUserId" (formData)="getData($event)"></app-dynamic-form>
    </div>
</div>
<div *ngIf="isLoggedinUserId">
    <button (click)="deleteProject()" class="del-action-btn action-btn">Delete Project</button>
    <button (click)="triggerFileSelector()" class="btn action-btn">Upload Images</button>
</div>
<input #fileChooser (change)="fileSelected($event)" style="display: none;" type="file" multiple="multiple" accept="image/*">