<div *ngIf="showProjects" class="project-outer">
    <h2 id="header">My Recent Work</h2>
    <app-project-template [ngClass]="animateProject?'project-temp':''" (deleteProjectEvent)="deleteProject($event)" [isLoggedinUserId]="isLoggedinUserId"
        [index]="currentIndex" (updateProjectEvent)="updateProjectListener($event)" [project]="projects[currentIndex]">
    </app-project-template>
    <p *ngIf="projectsTotalCount>0" id="count"><span style="font-weight: 500;">Total Projects:</span>  {{projectsTotalCount}}</p>
    <app-page-navigator *ngIf="projectsTotalCount>1" [pagesCount]="projectsTotalCount" [currentPage]="currentIndex"
        (pageIndexEmitter)="pageChangedListener($event)"></app-page-navigator>
</div>
<button (click)="addProjectDummy()" *ngIf="isLoggedinUserId" id="add-btn" class="btn">Add Project</button>
